# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/laborlink

# Auth (NextAuth)
NEXTAUTH_SECRET=replace_me_with_random_string

# If you want EmailProvider, set these:
# EMAIL_SERVER=smtp://user:pass@smtp.example.com:587
# EMAIL_FROM=LaborLink <no-reply@laborlink.app>

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
